In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data_Cleaning.csv")

In [6]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1

In [ ]:
# rename multiple columns in lisr

In [8]:
df = df.rename(columns ={'Mat':"Matche_played","Inns":"inning_bated","NO":"not_out","Runs":"Runs_scored","HS":"high_inning_score","Ave":"batt_average","BF":"ball_face","SR":"strice_rate"})

In [9]:
df.head()

,Player,Span,Matche_played,inning_bated,not_out,Runs_scored,high_inning_score,batt_average,ball_face,strice_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1

In [ ]:
#check is nay null vaues

In [11]:
df.isnull().sum()

Player               0
Span                 0
Matche_played        0
inning_bated         0
not_out              0
Runs_scored          0
high_inning_score    0
batt_average         0
ball_face            0
strice_rate          0
100                  0
50                   0
0                    0
4s                   0
6s                   0
dtype: int64

In [12]:
df.isnull().any()

Player               False
Span                 False
Matche_played        False
inning_bated         False
not_out              False
Runs_scored          False
high_inning_score    False
batt_average         False
ball_face            False
strice_rate          False
100                  False
50                   False
0                    False
4s                   False
6s                   False
dtype: bool

In [14]:
# removig duplcates
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62    False
63    False
64    False
Length: 65, dtype: bool

In [16]:
df[df["Player"].duplicated() == 1]

,Player,Span,Matche_played,inning_bated,not_out,Runs_scored,high_inning_score,batt_average,ball_face,strice_rate,100,50,0,4s,6s
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
41,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [17]:
df[df["Player"].isin(["GA Headley (WI)",'AB de Villiers (SA)','V Kohli (IND)'])]

,Player,Span,Matche_played,inning_bated,not_out,Runs_scored,high_inning_score,batt_average,ball_face,strice_rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
40,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64
41,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64
52,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [19]:
df =df.drop_duplicates()

In [20]:
df[df["Player"].isin(["GA Headley (WI)",'AB de Villiers (SA)','V Kohli (IND)'])]

,Player,Span,Matche_played,inning_bated,not_out,Runs_scored,high_inning_score,batt_average,ball_face,strice_rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
40,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64
52,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [ ]:
#split span columsn

In [26]:
df['Span'].str.split(pat = '-')

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
60    [1965, 1981]
61    [2002, 2014]
62    [1924, 1934]
63    [1930, 1938]
64    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [29]:
df['Span'].str.split(pat = '-').str[1]

0     1948
1     2023
2     2016
3     1970
4     1954
      ...
60    1981
61    2014
62    1934
63    1938
64    1934
Name: Span, Length: 62, dtype: object

In [31]:
df['Rookie_year'] = df['Span'].str.split(pat = '-').str[0]

In [32]:
df['final_year'] = df['Span'].str.split(pat = '-').str[1]

In [33]:
df.head()

,Player,Span,Matche_played,inning_bated,not_out,Runs_scored,high_inning_score,batt_average,ball_face,strice_rate,100,50,0,4s,6s,Rookie_year,final_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954

In [ ]:
# drop Span column

In [35]:
df = df.drop(["Span"],axis = 1)

In [36]:
df.head()

,Player,Matche_played,inning_bated,not_out,Runs_scored,high_inning_score,batt_average,ball_face,strice_rate,100,50,0,4s,6s,Rookie_year,final_year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954

In [44]:
df['Player'].str.split(pat = ')').str[0]

0      DG Bradman (AUS
1        HC Brook (ENG
2        AC Voges (AUS
3       RG Pollock (SA
4       GA Headley (WI
            ...
60     KD Walters (AUS
61    GC Smith (ICC/SA
62    WH Ponsford (AUS
63      SJ McCabe (AUS
64     DR Jardine (ENG
Name: Player, Length: 62, dtype: object

In [39]:
df["Country"]=df['Player'].str.split(pat = '(').str[1]

In [46]:
df["Country"]=df['Country'].str.split(pat = ')').str[0]

In [50]:
df["Player"]=df["Player"].str.split(pat = '(').str[0]

In [51]:
df.head()

,Player,Matche_played,inning_bated,not_out,Runs_scored,high_inning_score,batt_average,ball_face,strice_rate,100,50,0,4s,6s,Rookie_year,final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI

In [ ]:
# change data types

In [53]:
df.dtypes

Player                object
Matche_played         object
inning_bated           int64
not_out                int64
Runs_scored            int64
high_inning_score     object
batt_average         float64
ball_face             object
strice_rate           object
100                    int64
50                     int64
0                      int64
4s                     int64
6s                     int64
Rookie_year           object
final_year            object
Country               object
dtype: object

In [56]:
df['high_inning_score']=df['high_inning_score'].str.split(pat = '*').str[0]

In [57]:
df['high_inning_score']

0     334
1     186
2     269
3     274
4     270
     ...
60    250
61    277
62    266
63    232
64    127
Name: high_inning_score, Length: 62, dtype: object

In [59]:
df['high_inning_score']= df['high_inning_score'].astype('int')

In [69]:
df.dtypes

Player                object
Matche_played         object
inning_bated           int64
not_out                int64
Runs_scored            int64
high_inning_score      int32
batt_average         float64
ball_face             object
strice_rate           object
100                    int64
50                     int64
0                      int64
4s                     int64
6s                     int64
Rookie_year            int32
final_year             int32
Country               object
dtype: object

In [63]:
df = df.astype({"Rookie_year":"int","final_year":"int"})

In [74]:
df['Matche_played']=df['Matche_played'].str.split(pat = '*').str[0]

In [76]:
df['Matche_played']= df['Matche_played'].astype('int')

In [82]:
df.head()

,Player,Matche_played,inning_bated,not_out,Runs_scored,high_inning_score,batt_average,ball_face,strice_rate,100,50,0,4s,6s,Rookie_year,final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI

In [80]:
df['ball_face']=df['ball_face'].str.split(pat = '+').str[0]

In [90]:
df['ball_face']=df['ball_face'].str.split(pat = '-').str[0]

In [102]:
df['ball_face']= df['ball_face'].astype('int')

In [95]:
pd.set_option("display.max_rows", None)

In [107]:
df

,Player,Matche_played,inning_bated,not_out,Runs_scored,high_inning_score,batt_average,ball_face,strice_rate,100,50,0,4s,6s,Rookie_year,final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI
6,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG
7,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG
8,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG
9,ED Weekes,48,81,5,4455,207,58.61,0,0,15,19,6,258,2,1948,1958,WI
10,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG
11,SPD Smith,107,191,25,9634,239,58.03,17977,53.59,32,41,9,1056,54,2010,2024,AUS
12,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI
13,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL
14,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG
15,CL Walcott,44,74,7,3798,220,56.68,0,0,15,14,1,107,11,1948,1960,WI
16,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG
17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA
18,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG
19,KS Williamson,96,168,16,8263,251,54.36,16052,51.47,29,33,10,914,21,2010,2023,NZ
20,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI
21,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND
22,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS
23,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA
24,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND
25,DJ Mitchell,20,31,4,1452,190,53.77,2644,54.91,5,9,1,144,27,2019,2023,NZ
26,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI
27,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK
28,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND
29,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK
30,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK
31,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS
32,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS
33,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM
34,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS
35,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI
36,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND
37,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS
38,M Labuschagne,48,86,7,4015,215,50.82,7614,52.73,11,19,4,450,12,2018,2024,AUS
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA
42,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS
43,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG
45,JE Root,137,249,20,11447,254,49.98,20179,56.72,30,60,12,1248,43,2012,2024,ENG
46,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL
47,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK
48,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI
49,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG
50,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND
51,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK
52,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND
54,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS
55,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA
56,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA
57,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0,5,6,3,51,0,1893,1905,ENG
58,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL
59,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS
60,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
61,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
62,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
63,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
64,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [100]:
df =df.replace({'ball_face': {'': 0}})

In [109]:
df.dtypes

Player                object
Matche_played          int32
inning_bated           int64
not_out                int64
Runs_scored            int64
high_inning_score      int32
batt_average         float64
ball_face              int32
strice_rate          float64
100                    int64
50                     int64
0                      int64
4s                     int64
6s                     int64
Rookie_year            int32
final_year             int32
Country               object
dtype: object

In [104]:
df['strice_rate']=df['strice_rate'].str.split(pat = '-').str[0]

In [106]:
df =df.replace({'strice_rate': {'': 0}})

In [108]:
df['strice_rate']= df['strice_rate'].astype('float')

In [110]:
# create carrer length  = final_year - Rookie_year
df["carrer_length"] = df['final_year'] - df["Rookie_year"]

In [111]:
df

,Player,Matche_played,inning_bated,not_out,Runs_scored,high_inning_score,batt_average,ball_face,strice_rate,100,50,0,4s,6s,Rookie_year,final_year,Country,carrer_length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,1
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
6,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG,11
7,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG,8
8,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG,13
9,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI,10
10,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG,20
11,SPD Smith,107,191,25,9634,239,58.03,17977,53.59,32,41,9,1056,54,2010,2024,AUS,14
12,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI,20
13,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
14,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG,22
15,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI,12
16,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG,18
17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
18,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG,8
19,KS Williamson,96,168,16,8263,251,54.36,16052,51.47,29,33,10,914,21,2010,2023,NZ,13
20,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI,5
21,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
22,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS,14
23,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA,16
24,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND,24
25,DJ Mitchell,20,31,4,1452,190,53.77,2644,54.91,5,9,1,144,27,2019,2023,NZ,4
26,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
27,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK,17
28,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
29,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK,12
30,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK,17
31,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS,17
32,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS,9
33,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10
34,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS,8
35,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI,21
36,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND,16
37,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS,19
38,M Labuschagne,48,86,7,4015,215,50.82,7614,52.73,11,19,4,450,12,2018,2024,AUS,6
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS,15
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA,14
42,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS,16
43,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI,17
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG,20
45,JE Root,137,249,20,11447,254,49.98,20179,56.72,30,60,12,1248,43,2012,2024,ENG,12
46,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL,17
47,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
48,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI,15
49,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG,17
50,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND,12
51,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK,2
52,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND,13
54,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS,11
55,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA,5
56,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA,20
57,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,ENG,12
58,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL,12
59,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS,15
60,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS,16
61,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
62,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,10
63,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,8
64,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,6

In [ ]:
# calculate average of carrer length

In [112]:
df["carrer_length"].mean()

13.161290322580646

In [115]:
df[df["carrer_length"] > 10]["strice_rate"].mean()

47.95477272727273

In [120]:
df[df["Rookie_year"]<1960]["Player"]

0         DG Bradman
4         GA Headley
6        H Sutcliffe
7          E Paynter
8      KF Barrington
9          ED Weekes
10        WR Hammond
12         GS Sobers
14          JB Hobbs
15        CL Walcott
16          L Hutton
18      GE Tyldesley
23         AD Nourse
32           J Ryder
44       DCS Compton
48       FMM Worrell
49           CP Mead
56        B Mitchell
57    Hon.FS Jackson
59         RN Harvey
62       WH Ponsford
63         SJ McCabe
64        DR Jardine
Name: Player, dtype: object

In [121]:
df[df["Rookie_year"]<1960]["Player"].count()

23

In [125]:
df.groupby("Country")["high_inning_score"].max().to_frame("High_inning_score").reset_index().sort_values("High_inning_score", ascending = False)

    Country  High_inning_score
5    ICC/WI                400
0       AUS                380
10       SL                374
11       WI                365
1       ENG                364
3   ICC/PAK                329
2   ICC/IND                319
8       PAK                313
9        SA                278
4    ICC/SA                277
6       IND                254
7        NZ                251
12      ZIM                232

In [126]:
df.groupby("Country")["100","50","0"].mean()

C:\Users\avina\AppData\Local\Temp\ipykernel_6868\4184296570.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby("Country")["100","50","0"].mean()

               100         50          0
Country
AUS      20.625000  28.312500   8.500000
ENG      12.307692  20.769231   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       17.000000  21.000000   5.500000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000